name: Create Release

on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

jobs:
  build:
    strategy:
      matrix:
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    container: 'golang:1.24.0'
    steps:
    - name: Prepare container
      run: |
        apt-get update -y
        apt-get -y install zip
    - name: Checkout code
      uses: actions/checkout@v5
    - name: Create release
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        echo Start release ${{ github.ref }}
        git config --global --add safe.directory $GITHUB_WORKSPACE
        .sdlc/gh-release
